<nav>
  <!-- Main navigation bar. -->
  <div class="site-title">
    <!-- Container for site title and tagline. -->
    <a href="/">
      <h1>Blog Ninja</h1>
    </a>
    <!-- Site title, links to homepage. -->
    <p>A Net Ninja Site</p>
    <!-- Site tagline. -->
  </div>
  <ul>
    <!-- Navigation links list. -->
    <li><a href="/">Blogs</a></li>
    <!-- Link to the main blogs page. -->
    <li><a href="/about">About</a></li>
    <!-- Link to the about page. -->
    <li><a href="/blogs/create">New Blog</a></li>
    <!-- Link to the create new blog page. -->
  </ul>
</nav>